::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}



header{
    background-image:linear-gradient(rgba(30, 84, 94, 0.5),rgba(30, 84, 94, 0.5)), url(background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

@keyframes logo {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);

    }
    to {
        transform-origin: rotate(360deg);
    }
}


.logo img{
	float: left;
	width: 100px;
    height: auto;
    animation: logo 4s;
    animation-iteration-count: 1;

}



    
.textmain {
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.textcenter {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;
}

ul li{
    display: inline-table;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    
    transition: 1s ease;
}

ul li a:hover{
    background-color: white;
    color:black;
    transition: 1s ease;
}

ul li.active a {
    background-color: white;
    color:black;
    transition: 1s ease;
}



    .footer {
        position: absolute;
        float: left;
        list-style-type: none;
        bottom: 1%;
        margin-left: 10px;
         color: #fff;
    }

    .footer1 {
        position: absolute;
        float: left;
        list-style-type: none;
        bottom: 1%;
        margin-left: 180px;
         color: #fff;
    }

    .footer1 a {
        text-decoration: none;
        color: #fff;
        margin-left: 15px;
        transition: 1s ease;
    }
    .footer1 a:hover {
        position: relative;
        text-decoration: none;
        color: black;
        margin-left: 15px;
       
    }
